

.BookingPage{
  width:20%;
  height:80vh;
  background-color: rgb(235, 238, 232);
  margin: 2px;
  padding: 4px;
  border-radius: 2px;
 
 
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 10px;

}
.BookingPage img{

  height: 80%;
  width: 100%;
 
  border-radius: 20px;
}

.BookingPage h5{
 margin: 2px;
 }
 
.BookingPageList{
  display: flex;
  flex-direction: row;
  box-shadow: 0 10px 10px -5px;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(236, 241, 231);
  padding: 20px;
  gap:50px;
  justify-content: center;

 }
 .theatre{
  display:flex;
  justify-content: space-around;
  width:100%
 }
 .t1,.t2{

  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 20px;
  justify-content: center;
 }
 .ticket{
  width:20%;
  
  background-color: rgb(235, 238, 232);
  margin: 2px;
  padding: 6px;
  border-radius: 2px;
 
 
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 10px;
 }

 h1,h2{
  margin: 2px;
  font-family: 'Kanit', sans-serif;
  font-size:larger;
  text-align: left;
 }
 .ticket img{
height: 50%;
 }